@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MMM</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">OverView</a>
    <a asp-controller="Home" asp-action="CreateEditView" class="btn btn-primary">Create New</a>
</div>
